* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background: blue;
}

.clock {
  width: 100vh;
  height: 100vh;
  background-color: rgba(255,255,255,.8);
  border-radius: 50%;

  margin: auto;

}

.clock .hand {
  --rotation: 30;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 10;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

  width: 14vh;
  height: 42vh;
  background-color: blue;
}

.clock .hand.hour {
  background-color: #ffc00044;
}

.clock .hand.minute {
  background-color: #00ff0044;
}